{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container lessons">
        <div class="row">
            <img src="{% static "img/kira.jpg" %}" class="img-responsive">
            <p>
Hi, I'm Tanya


Here is a bit about me.
I was born surrounded by boxes of photographs and I fall in love with this magic from my early childhood... as a viewer :) I grew up inspired by examples of old european school of portrait photography and by learning from the photographic works of my grandfather -

a lifelong photographer, but never dreamt to be photographer myself when was a kid.


Happened, that photo retouching came first to my life as something really serious and very passionate. Through it I found my way to becoming a photographer.

​

I was a child who rarely smiled on the photos, I hated when people took photos of me, so I know how you feel when I'm pointing my camera on you.

Now I do self-portraits time after time, to keep myself being aware of your feelings and am constantly learning to make your photographic experience  better.

Love people, love diversity and believe everyone is beautiful it's just a matter of finding photographer that can see beauty in you and is able to show it to the world. I might be yours or might be not, but keep searching there is the one somewhere on the Earth ;)

​

​

​

I hope you've found something interesting for yourself on Tanya's ARTelier website.

Thank you for stopping by.



Tanya Mishchuk,

Internationally published Photographer, Photo Retoucher, Artist,

Founder of Tanya's ARTelier.</p>
        </div>
    </div>
{% endblock %}